/*
Add hamburger menu also on larger screens

*/

/*Nav style*/

.hamburger{
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #222222;
  font-size:30px;
  cursor:pointer;
  z-index: 99;
  color: white;
  border-radius: 50%;
  margin: 3px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.97);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
    cursor:pointer;
}
/*End of nav style*/

@keyframes animationjoinlogo {
  0%{
    transform: scale(0.98);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(56,56,56,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(56,56,56,1);
    box-shadow: 0px 0px 0px 0px rgba(56,56,56,1);
  }

  50%{
        transform: scale(1);
    -webkit-box-shadow: 0px 0px 39px 0px rgba(56,56,56,1);
    -moz-box-shadow: 0px 0px 39px 0px rgba(56,56,56,1);
    box-shadow: 0px 0px 39px 0px rgba(56,56,56,1);
  }

  100%{
        transform: scale(0.98);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(56,56,56,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(56,56,56,1);
    box-shadow: 0px 0px 0px 0px rgba(56,56,56,1);
  }
}

@keyframes slideup {
  0%{
    margin-top: 0;
  }

  100%{
    margin-top: -100px;
  }
}

@keyframes titleanimationstart {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

body{
  height: 100vh;
  background-color: grey;
  color: white;
}

.divider{
  width: 98%;
  background-color: #333333;
  height: 250px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  border-radius: 15px;
}

.divider1{
  background-image: url("../img/bdowallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;}
  /* not in use
.divider2{
  background-image: url("../img/rl.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}
*/


.divider p{
  margin: 0 auto;
  font-size: 30px;
  font-style: italic;
}


header{
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-background-sao.gif");
  background-position: center;
  color: lightblue;
  background-attachment: fixed;
}

header h1{
  font-size: 100px;
  mix-blend-mode: hard-light;
}

header h2{
  font-size: 50px;
  mix-blend-mode: hard-light;
}

.title-container{
  margin: 0 auto;
  border-radius: 25px;
  animation: titleanimationstart 0.75s ease-out;
}



.section-JoinUs{
  width: 98%;
  margin: 0 auto;
  background-color:  	#333333;
  margin-top: -100px;
  animation: slideup 0.5s;
  background-image: url("../img/discordwallpaper.png");
  background-blend-mode: soft-light;
  border-radius: 15px;
}


.flex-container-join{
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;

}

.section-JoinUs img{
  width: 250px;
  border-radius: 50%;
  transition: 0.5s;
  animation: animationjoinlogo 3s infinite ease;
}

.section-JoinUs img:hover{
  transform: scale(0.98);
  filter: drop-shadow(0 0 0.5rem black);
  transition: 0.5s;
}


/*Section rules*/
.section-rules{
  background-color:  	#555555;
  height: 500px;
}

.rules{
  padding: 15px;
  background-color: #333333;
  width: 500px;
  height: 250px;
}

.section-blocks{
  background-color: grey;
}
.container-blocks{
  display: flex;
  width: 50vw;
  margin: 0 auto;
  justify-content: space-around;

}

/*Blockjes*/
.section-blocks{
  width: 100%;
}

.blocks-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;

}

.block1, .block2, .block3, .block4, .block5, .block6{
  width: 16vw;
  height: 30vh;
  text-align: center;
  line-height: 30vh;
  animation: 1s fadeIn;
  margin: 0 auto;
}

.block1 p, .block2 p, .block3 p, .block4 p, .block5 p, .block6 p{
  background-color: rgba(0, 0, 0,  0.7);
  color: white;
  transition: 0.75s;
}

.block1 p:hover, .block2 p:hover, .block3 p:hover, .block4 p:hover, .block5 p:hover, .block6 p:hover{
  transform: scale(0.9);
  background-color: rgba(0, 0, 0,  0.6);
  transition: 0.75s;
  opacity: 0;
}

.block1{transition: 0.5s; background-image: url(../img/gaming.jpg); background-size:cover; background-position: center; background-size: cover;}
.block2{transition: 0.5s; background-image: url(../img/rythmbot.png); background-size:cover; background-position: center;}
.block3{transition: 0.5s; background-image: url(../img/sao512x512.jpg); background-size:cover; background-position: center;}
.block4{transition: 0.5s; background-image: url(../img/jiaruan.png); background-size:cover; background-position: center;}
.block5{transition: 0.5s; background-image: url(../img/discord.jpg); background-size:cover; background-position: center;}
.block6{transition: 0.5s; background-image: url(../img/discord.jpg); background-size:cover; background-position: center;}

.block1:hover{ transition: 0.5s; background-size:10;}
.block2:hover{transition: 0.5s; background-size:cover;}
.block3:hover{transition: 0.5s; background-size:cover;}
.block4:hover{transition: 0.5s; }
.block5:hover{transition: 0.5s; }
.block6:hover{transition: 0.5s; }


.section-team{
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
  grid-gap: 10px;
  padding: 10px;
  background-color: grey;
}

.teammate-1, .teammate-2, .teammate-3, .teammate-4, .teammate-5, .teammate-6{
  text-align: center;
  background-color:  	#333333;
  padding: 15px;
  border-radius: 10px;
}

.tm{
    transition: 0.25s;
    width: 30vw;
    margin: 0 auto;
}

.tm .img{

  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width:100px;
  height: 100px;
  margin: 0 auto;
  background-color: black;
}

.teammate-1 .img{background-image: url("../img/naruto.jpg");}
.teammate-2 .img{background-image: url("../img/jiaruan.png");}
.teammate-3 .img{background-image: url("../img/Cardinal.jpg");}
.teammate-4 .img{background-image: url("../img/Cardinal.jpg");}
.teammate-5 .img{background-image: url("../img/Cardinal.jpg");}
.teammate-6 .img{background-image: url("../img/Cardinal.jpg");}

.tm:hover{
  transition: 0.25s;
  transform: scale(0.98);

}

.imgteammate{
  width: 15%;
  border-radius: 50%;
}

.section-News{
width: 98%;
margin: 0 auto;
  background-color:  	#333333;
  margin-top: -100px;
animation: slideup 0.5s;
}


.flex-container-News{
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 150px;
}

.news-block{
  background-color: #222222;
  margin: 10px;
  height:auto;
  padding: 15px;
}

.news-block small{
  color: grey;
}


.section-FAQ{
width: 98%;
margin: 0 auto;
  background-color:  	#333333;
  margin-top: -100px;
animation: slideup 0.5s;
}


.flex-container-FAQ{
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 150px;
}

.flex-container-FAQ img{
  width: 150px;
  margin: 0 auto;
}

.accordion {
  background-color: #444444;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 15px;
}

.active, .accordion:hover {
  background-color: #555555;
}

.accordion:after {
  content: '\002B';
  color: #666666;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  border-bottom: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  background-color: #222222;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer{
  margin-top: 15px;
  display: block;
  bottom: 0;
  text-align: center;
  background-color: #333333;
  color: black;
  padding: 15px;
}

/*Smaller screens*/
@media screen and (max-width: 1300px) {
.section-JoinUs{

  background-color:  	#333333;


}

.flex-container-join{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.blocks-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.block1, .block2, .block3, .block4, .block5, .block6{
  width: 28vw;
  height: 30vh;
  text-align: center;
  line-height: 30vh;
  animation: 1s fadeIn;
  margin: 0 auto;
}

.section-team{
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  grid-gap: 5px;
  padding: 5px;
  background-color: grey;
}

.tm{
    transition: 0.25s;
    width: 44vw;
    margin: 0 auto;
}

.flex-container-News{
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 150px;
}

}

@media screen and (max-width: 800px) {

  header{
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-background-sao.gif");
  background-position: center;
  color: lightblue;
  background-attachment: fixed;
}

  header h1{
  font-size: 50px;
}

header h2{
  font-size: 25px;
}

.title-container{
      margin: 0 auto;
      border-radius: 25px;
}

.blocks-container{
  display: grid;
  grid-template-columns: auto;

}

.block1, .block2, .block3, .block4, .block5, .block6{
  width: 95%;
  height: 30vh;
  text-align: center;
  line-height: 30vh;
  animation: 1s fadeIn;
  margin: 0 auto;
}

.section-team{
  display: grid;
  grid-template-columns: auto;
  height: auto;
  grid-gap: 5px;
  padding: 5px;
  background-color: grey;
}

.tm{
    transition: 0.25s;
    width: 90%;
    margin: 0 auto;
}

.section-News{
width: 98%;
margin: 0 auto;
  background-color:  	#333333;
  margin-top: -100px;
animation: slideup 0.5s;
}


.flex-container-News{
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 150px;
}

.news-block{
  background-color: #222222;
  margin: 10px;
  height:auto;
  padding: 15px;
}

.news-block small{
  color: grey;
}



}
