*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
	background: linear-gradient(-45deg, #000000, #353535, #575757, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.container{
    margin-top: 45vh;
    text-align: center;
    width: 100vw;
}

p{
    font-size: 2rem;
    font-weight: bold;
    color: darkgray;
}

small{
    top: 50%;
    font-size: 1rem;
    color: lightgrey;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
